.TestStep {
  margin-top: 20px;
}

.QuestionId {
  color: #999;
  font-size: 0.75em;
  font-weight: 400;
}

.TestStepAnswerButton {
  display: block;
  margin-bottom: 20px;
  text-align-last: left;
  border-color: rgba(0, 123, 255, 0.2) !important;
}

.TestStepHeader {
  margin-bottom: 20px;
}
